In [1]:
import pandas as pd
import numpy as np

In [2]:
station=pd.read_csv('C:/Users/jimin.DESKTOP-8V20QSQ/Desktop/지하철역_좌표.csv', header=0,encoding='CP949')
station.head()

         역이름          y           x
0       가락시장  37.492522  127.118234
1       종로3가  37.571607  126.991806
2         오금  37.502162  127.128111
3        동대문  37.571420  127.009745
4  동대문역사문화공원  37.565138  127.007896

In [62]:
data=pd.read_excel('C:/Users/jimin.DESKTOP-8V20QSQ/Desktop/종로y.xlsx')
data.head()

,Unnamed: 0.1,Unnamed: 0,인허가일자,영업상태명,폐업일자,소재지전체주소,도로명전체주소,동데이터,사업장명,업태구분명,좌표정보(X),좌표정보(Y),영업일,경도,위도
0,0,108,20110428,폐업,2022-06-08,서울특별시 종로구 종로1가 24 르메이르종로타운 (지하2층 B205호),"서울특별시 종로구 종로 19 (종로1가,르메이르종로타운 (지하2층 B205호))",종로1가,소통,기타,198150.300374,452019.212643,3169,126.976960,37.570459
1,1,121,20110721,폐업,2019-06-04,서울특별시 종로구 종로3가 116-1번지 (지상1층),"서울특별시 종로구 종로 116-2 (종로3가,(지상1층))",종로3가,키다리아찌,기타,199094.585494,451972.782867,2875,126.987649,37.570042
2,2,125,20110719,폐업,2014-03-10,서울특별시 종로구 종로1가 24번지,"서울특별시 종로구 종로 19, 지하2층 224호 (종로1가, 르메이에르 종로타운)",종로1가,플루토,경양식,198150.300374,452019.212643,965,126.976960,37.570459
3,3,146,20110520,폐업,2013-02-28,서울특별시 종로구 종로3가 156-1번지 (지상1층),"서울특별시 종로구 종로 146-1 (종로3가,(지상1층))",종로3가,김밥친구,한식,199383.197682,451993.773380,650,126.990916,37.570231
4,10,329,19970416,폐업,2015-01-21,서울특별시 종로구 종로3가 6-0번지,서울특별시 종로구 종로 111-1 (종로3가),종로3가,태라스,분식,199041.009248,452032.239571,1481,126.987043,37.570578

In [63]:
data = data[data['위도'] != float("inf")]

In [64]:
data.reset_index(inplace=True)

In [65]:
len(data)

391

In [19]:
pip install haversine

Collecting haversine
  Downloading haversine-2.6.0-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: haversine
Successfully installed haversine-2.6.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
from haversine import haversine, Unit

In [ ]:
haversine(Seoul, Toronto, unit = 'm')

In [66]:
cal=pd.DataFrame()
cal.append({"name":"","diff":"","ranks":""},ignore_index=True)

C:\Users\jimin.DESKTOP-8V20QSQ\AppData\Local\Temp\ipykernel_8752\4285627285.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  cal.append({"name":"","diff":"","ranks":""},ignore_index=True)

  name diff ranks
0

In [67]:
df = pd.DataFrame()

In [68]:
for i in range(0,len(data)):
    for j in range(0,len(station)):
        cal.loc[j,'name']=station['역이름'][j]
        cal.loc[j, 'diff'] = haversine((data['위도'][i], data['경도'][i]), (station['y'][j], station['x'][j]), unit='m')
    cal['ranks']=cal['diff'].rank(ascending=True)
    df.loc[i,'rank1']=cal.loc[cal['ranks']==1,'name'].iloc[0]
    df.loc[i,'rank1_diff']=cal.loc[cal['ranks']==1,'diff'].iloc[0]

In [69]:
cal.loc[cal['ranks']==1,'diff']

1    298.769123
Name: diff, dtype: float64

In [70]:
df

    rank1  rank1_diff
0     광화문   68.080038
1    종로3가  405.592890
2     광화문   68.080038
3    종로3가  171.898814
4      종각  366.012113
..    ...         ...
386    종각  174.876995
387    종각  137.268837
388   광화문   68.080038
389  종로3가  163.151249
390  종로3가  298.769123

[391 rows x 2 columns]

In [71]:
data['distance to station(m)'] = df['rank1_diff']
data

,index,Unnamed: 0.1,Unnamed: 0,인허가일자,영업상태명,폐업일자,소재지전체주소,도로명전체주소,동데이터,사업장명,업태구분명,좌표정보(X),좌표정보(Y),영업일,경도,위도,distance to station(m)
0,0,0,108,20110428,폐업,2022-06-08,서울특별시 종로구 종로1가 24 르메이르종로타운 (지하2층 B205호),"서울특별시 종로구 종로 19 (종로1가,르메이르종로타운 (지하2층 B205호))",종로1가,소통,기타,198150.300374,452019.212643,3169,126.976960,37.570459,68.080038
1,1,1,121,20110721,폐업,2019-06-04,서울특별시 종로구 종로3가 116-1번지 (지상1층),"서울특별시 종로구 종로 116-2 (종로3가,(지상1층))",종로3가,키다리아찌,기타,199094.585494,451972.782867,2875,126.987649,37.570042,405.592890
2,2,2,125,20110719,폐업,2014-03-10,서울특별시 종로구 종로1가 24번지,"서울특별시 종로구 종로 19, 지하2층 224호 (종로1가, 르메이에르 종로타운)",종로1가,플루토,경양식,198150.300374,452019.212643,965,126.976960,37.570459,68.080038
3,3,3,146,20110520,폐업,2013-02-28,서울특별시 종로구 종로3가 156-1번지 (지상1층),"서울특별시 종로구 종로 146-1 (종로3가,(지상1층))",종로3가,김밥친구,한식,199383.197682,451993.773380,650,126.990916,37.570231,171.898814
4,4,10,329,19970416,폐업,2015-01-21,서울특별시 종로구 종로3가 6-0번지,서울특별시 종로구 종로 111-1 (종로3가),종로3가,태라스,분식,199041.009248,452032.239571,1481,126.987043,37.570578,366.012113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,399,695,18742,20190212,영업/정상,NaT,서울특별시 종로구 종로2가 6번지 종로타워,"서울특별시 종로구 종로 51, 종로타워 지하2층 B201호 (종로2가)",종로2가,알리바바 쏙쏙김밥 종로타워점,분식,198504.772724,452018.161512,322,126.980973,37.570450,174.876995
387,400,696,18749,20190328,영업/정상,NaT,서울특별시 종로구 종로2가 7번지,"서울특별시 종로구 종로 61, 3층 (종로2가)",종로2가,경희궁,한식,198542.918840,452016.496548,278,126.981404,37.570435,137.268837
388,401,697,18753,20190222,영업/정상,NaT,서울특별시 종로구 종로1가 24 르메이에르종로타운1 지하2층 B216-1호,"서울특별시 종로구 종로 19, 르메이에르종로타운1 지하2층 B216-1호 (종로1가)",종로1가,오부장 보쌈족발,한식,198150.300374,452019.212643,312,126.976960,37.570459,68.080038
389,402,699,18771,19860226,영업/정상,NaT,서울특별시 종로구 종로3가 170번지,서울특별시 종로구 돈화문로4길 41 (종로3가),종로3가,왕벌집,한식,199455.321850,451983.721699,12361,126.991732,37.570141,163.151249
390,403,700,18807,19910313,영업/정상,NaT,서울특별시 종로구 종로3가 132-1,서울특별시 종로구 수표로20길 43 (종로3가),종로3가,가르텐 비어,호프/통닭,199217.330754,451974.244324,10520,126.989038,37.570055,298.769123

In [72]:
data.to_excel('C:/Users/jimin.DESKTOP-8V20QSQ/Desktop/종로y.xlsx')